{% extends "layout.html" %}
{% block body %}
<script>
function toggle_departments(workplace) {
	var departments = document.getElementsByClassName(workplace);
	for (const department of departments) {
		department.classList.toggle("d-none");
	}
}
</script>
<h2 class="p-2 text-left display-5">Workplaces ({{ workplaces | length }})</h2>
<table class="table table-hover">
    <tr>
        <th scope="col" class="col-5">Name</th>
        <!-- <th scope="col" class="col-1">Members</th> -->
		<th scope="col" class="col-1">{{ latest_test_name }}</th>
        <th scope="col" class="col-5">Organizer</th>
    </tr>
    {% for workplace in workplaces %}
    <tr>
        <td>
		<a href="#" onclick="toggle_departments('workplace-{{ workplace.id }}');">
                <b>{{ workplace.name }}</b> ({{ workplace.worker_count }})
            </a>
        </td>
        <!-- <td> -->
        <!--     {% if workplace.worker_count > 0 %} -->
        <!--     {% set percentage = (workplace.members / workplace.worker_count * 100) | round(2) %} -->
        <!--     {% endif %} -->
        <!--     <meter style="height: 25px;" low="50" high="80" max="100" optimum="100" value="{{ percentage }}" title="{{ workplace.members }}&#x2F;{{ workplace.worker_count }} completed"></meter> -->
        <!-- </td> -->
        <td>
            {% if workplace.worker_count > 0 %}
            {% set percentage = ( workplace.latest / workplace.worker_count * 100) | round(2) %}
            {% endif %}
            <meter style="height: 25px;" low="50" high="80" max="100" optimum="100" value="{{ percentage }}" title="{{ workplace.latest }}&#x2F;{{ workplace.worker_count }}"></meter>
        </td>
        <td>
		<ul>
		{% for chair in workplace.chairs %}
		<li>
		<a href="{{ url_for("worker", worker_id=chair.id) }}">
		    {%- if chair.preferred_name %}
		    {{ chair.preferred_name }} ({{ chair.name }})
		    {% else %}
		    {{ chair.name }}
		    {% endif %}
		</a>
		</li>
		{% endfor %}
		<ul>
	</td>
      </tr>
      {% for department in workplace.departments %}
      <tr class="d-none workplace-{{ workplace.id }}">
	<td>
                {% if department.alias %}
                <b>{{ department.alias }}</b> <small class="text-muted">{{ department.name }}</small>
                {% else %}
                <b>{{ department.name }}</b>
                {% endif %}
	</td>
	<td></td>
	<td></td>
	<td>
		<ul><ul>
		{% for chair in department.chairs %}
		<li>
		<a href="{{ url_for("worker", worker_id=chair.id) }}">
		    {%- if chair.preferred_name %}
		    {{ chair.preferred_name }} ({{ chair.name }})
		    {% else %}
		    {{ chair.name }}
		    {% endif %}
		</a>
		</li>
		{% endfor %}
		</ul></ul>
	</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
{% endblock %}
